<header class="sticky">
    <div class="enlaces-registro">
      <a href="/registro">Registro</a>|
      <a href="/inicio-sesion">Inicio</a>
    </div>
    <a href="/" class="logo">Prueba Back Cobrando S.A.S.</a>
    <a href="/" class="button"><span class="icon-home"></span> Inicio</a>
  </header>