html {
  font-size: 14px;
}

.enlaces-registro{
  float: right;
  position: relative;
  top: 14px;
  right: 18px;
}

.centrado{
  text-align: center;
}

.buscador{
  text-align: center;
}

.avatar{
  max-height: 15px;
}